templates/n8n-workflows/02-linkedin-multi-touch-sequence.json
{
  "name": "LinkedIn Multi-Touch Sequence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        50,
        300
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"ENTER_COMPANY_NAME\": \"Your Company\",\n  \"ENTER_SENDER_NAME\": \"Your Name\",\n  \"ENTER_PHANTOMBUSTER_API_KEY\": \"your-key\",\n  \"ENTER_BOOKING_URL\": \"https://calendly.com/your-link\",\n  \"ENTER_TARGET_SEARCH_URL\": \"https://linkedin.com/search/results/people/\",\n  \"ENTER_CONNECTION_MESSAGE\": \"Hi {first_name}, noticed your work at {company}...\",\n  \"ENTER_FOLLOWUP_MESSAGE\": \"Thanks for connecting!\"\n}",
        "options": {}
      },
      "name": "CLIENT CONFIG - Edit These Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "method": "POST",
        "options": {}
      },
      "name": "PhantomBuster - Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return items;"
      },
      "name": "Parse Profiles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "Write LinkedIn connection request (under 300 chars) for {{$json.firstName}} at {{$json.companyName}}."
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "name": "AI - Personalize",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "ENTER_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "method": "POST",
        "options": {}
      },
      "name": "PhantomBuster - Connect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "Write follow-up LinkedIn message for {{$json.firstName}} who accepted connection."
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "name": "AI - Follow-up",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1750,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "ENTER_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "method": "POST",
        "options": {}
      },
      "name": "PhantomBuster - Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "ENTER_SHEET_ID"
        },
        "sheetName": {
          "value": "Sheet1"
        },
        "options": {}
      },
      "name": "Log Outreach",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2250,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENTER_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CLIENT CONFIG - Edit These Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENT CONFIG - Edit These Values": {
      "main": [
        [
          {
            "node": "PhantomBuster - Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PhantomBuster - Scrape": {
      "main": [
        [
          {
            "node": "Parse Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Profiles": {
      "main": [
        [
          {
            "node": "AI - Personalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Personalize": {
      "main": [
        [
          {
            "node": "PhantomBuster - Connect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PhantomBuster - Connect": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [
          {
            "node": "AI - Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Follow-up": {
      "main": [
        [
          {
            "node": "PhantomBuster - Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PhantomBuster - Message": {
      "main": [
        [
          {
            "node": "Log Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "lead-gen"
    }
  ],
  "pinData": {}
}