templates/n8n-workflows/04-no-reply-reengagement-drip.json
{
  "name": "No-Reply Re-engagement Drip",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        50,
        300
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"ENTER_COMPANY_NAME\": \"Your Company\",\n  \"ENTER_SENDER_NAME\": \"Your Name\",\n  \"ENTER_SENDER_EMAIL\": \"you@company.com\",\n  \"ENTER_BOOKING_URL\": \"https://calendly.com/your-link\",\n  \"ENTER_INSTANTLY_API_KEY\": \"your-key\",\n  \"ENTER_FOLLOWUP_1_DAYS\": \"3\",\n  \"ENTER_FOLLOWUP_2_DAYS\": \"5\",\n  \"ENTER_BREAKUP_DAYS\": \"7\"\n}",
        "options": {}
      },
      "name": "CLIENT CONFIG - Edit These Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.instantly.ai/api/v1/lead/list",
        "method": "GET",
        "options": {}
      },
      "name": "Instantly - No-Replies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.filter(function(i) { return !i.json.replied; });"
      },
      "name": "Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"days_since_last\"]}}",
              "operation": "gte",
              "value2": "3"
            }
          ]
        }
      },
      "name": "Follow-up Stage",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "Write short bump email (80 words) to {{$json.first_name}} at {{$json.company}}."
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "name": "AI - Bump",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "ENTER_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "Write value-add follow-up (100 words) to {{$json.first_name}} at {{$json.company}}."
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "name": "AI - Value Add",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1250,
        450
      ],
      "credentials": {
        "openAiApi": {
          "id": "ENTER_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.instantly.ai/api/v1/email/send",
        "method": "POST",
        "options": {}
      },
      "name": "Send Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "ENTER_SHEET_ID"
        },
        "sheetName": {
          "value": "Sheet1"
        },
        "options": {}
      },
      "name": "Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1750,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENTER_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CLIENT CONFIG - Edit These Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENT CONFIG - Edit These Values": {
      "main": [
        [
          {
            "node": "Instantly - No-Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instantly - No-Replies": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Follow-up Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up Stage": {
      "main": [
        [
          {
            "node": "AI - Bump",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI - Value Add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Bump": {
      "main": [
        [
          {
            "node": "Send Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Value Add": {
      "main": [
        [
          {
            "node": "Send Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up": {
      "main": [
        [
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "lead-gen"
    }
  ],
  "pinData": {}
}