templates/n8n-workflows/05-new-client-welcome-flow.json
{
  "name": "New Client Welcome Flow",
  "nodes": [
    {
      "parameters": {
        "path": "new-client-signed",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        50,
        300
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"ENTER_COMPANY_NAME\": \"Your Company\",\n  \"ENTER_SENDER_NAME\": \"Your Name\",\n  \"ENTER_SENDER_EMAIL\": \"you@company.com\",\n  \"ENTER_WELCOME_TEMPLATE\": \"Hi {first_name}, welcome aboard!\",\n  \"ENTER_SLACK_CHANNEL\": \"client-onboarding\",\n  \"ENTER_PM_EMAIL\": \"pm@company.com\",\n  \"ENTER_DRIVE_FOLDER_TEMPLATE\": \"https://drive.google.com/TEMPLATE_ID\"\n}",
        "options": {}
      },
      "name": "CLIENT CONFIG - Edit These Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.client_email}}",
        "subject": "Welcome aboard!",
        "message": "Hi {{$json.client_name}}, welcome! Our team is excited to work with you.",
        "options": {}
      },
      "name": "Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "ENTER_GMAIL_CREDENTIAL_ID",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "method": "POST",
        "options": {}
      },
      "name": "Create Drive Folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        500,
        500
      ]
    },
    {
      "parameters": {
        "channel": {
          "value": "client-onboarding"
        },
        "text": "New client: {{$json.client_name}} ({{$json.client_company}}). Onboarding started.",
        "otherOptions": {}
      },
      "name": "Notify Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "ENTER_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.clickup.com/api/v2/list/ENTER_LIST_ID/task",
        "method": "POST",
        "options": {}
      },
      "name": "Create Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        750,
        500
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"tasks\": [\n    \"Welcome email sent\",\n    \"Slack channel created\",\n    \"Drive folder created\",\n    \"Kickoff scheduled\",\n    \"Credentials collected\"\n  ]\n}",
        "options": {}
      },
      "name": "Checklist",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "ENTER_SHEET_ID"
        },
        "sheetName": {
          "value": "Sheet1"
        },
        "options": {}
      },
      "name": "Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENTER_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "CLIENT CONFIG - Edit These Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENT CONFIG - Edit These Values": {
      "main": [
        [
          {
            "node": "Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Email": {
      "main": [
        [
          {
            "node": "Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive Folder": {
      "main": [
        [
          {
            "node": "Create Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Project": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist": {
      "main": [
        [
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "onboarding"
    }
  ],
  "pinData": {}
}