templates/n8n-workflows/10-ai-outbound-dialer.json
{
  "name": "AI Outbound Dialer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        50,
        300
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"ENTER_COMPANY_NAME\": \"Your Company\",\n  \"ENTER_TWILIO_PHONE\": \"+1XXXXXXXXXX\",\n  \"ENTER_BLAND_API_KEY\": \"your-bland-key\",\n  \"ENTER_BOOKING_URL\": \"https://calendly.com/your-link\",\n  \"ENTER_MAX_CALLS_PER_DAY\": \"20\",\n  \"ENTER_CALL_HOURS\": \"9AM-5PM\",\n  \"ENTER_GOOGLE_SHEET_ID\": \"your-lead-sheet\",\n  \"ENTER_SLACK_CHANNEL\": \"outbound-calls\"\n}",
        "options": {}
      },
      "name": "CLIENT CONFIG - Edit These Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "value": "ENTER_SHEET_ID"
        },
        "sheetName": {
          "value": "Sheet1"
        },
        "options": {}
      },
      "name": "Fetch Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        500,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENTER_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.filter(function(i) { return !i.json.called && i.json.phone; });"
      },
      "name": "Filter Uncalled",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.slice(0, 20);"
      },
      "name": "Limit Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "Customize call script for {{$json.first_name}} {{$json.last_name}}, {{$json.title}} at {{$json.company}}. Keep intro under 30 seconds."
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "name": "AI - Script",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "ENTER_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.bland.ai/v1/calls",
        "method": "POST",
        "options": {}
      },
      "name": "Bland AI - Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "amount": 0,
        "unit": "days"
      },
      "name": "Wait Result",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1750,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "var r = $json; return [{json: {outcome: r.status||\"unknown\", interested: (r.analysis||{}).interested||false, summary: (r.analysis||{}).summary||\"\"}}];"
      },
      "name": "Parse Outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"interested\"]}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Interested?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "channel": {
          "value": "outbound-calls"
        },
        "text": "Call success! {{$json.first_name}} at {{$json.company}} interested.",
        "otherOptions": {}
      },
      "name": "Hot Lead Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        2500,
        200
      ],
      "credentials": {
        "slackApi": {
          "id": "ENTER_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "value": "ENTER_SHEET_ID"
        },
        "sheetName": {
          "value": "Sheet1"
        },
        "options": {}
      },
      "name": "Update Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2500,
        450
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ENTER_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CLIENT CONFIG - Edit These Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENT CONFIG - Edit These Values": {
      "main": [
        [
          {
            "node": "Fetch Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads": {
      "main": [
        [
          {
            "node": "Filter Uncalled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Uncalled": {
      "main": [
        [
          {
            "node": "Limit Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Batch": {
      "main": [
        [
          {
            "node": "AI - Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Script": {
      "main": [
        [
          {
            "node": "Bland AI - Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bland AI - Call": {
      "main": [
        [
          {
            "node": "Wait Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Result": {
      "main": [
        [
          {
            "node": "Parse Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Outcome": {
      "main": [
        [
          {
            "node": "Interested?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interested?": {
      "main": [
        [
          {
            "node": "Hot Lead Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Lead Alert": {
      "main": [
        [
          {
            "node": "Update Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "calls"
    }
  ],
  "pinData": {}
}